.medium-polygon {
    margin: 0 0 0 152px;
}

.small-polygon {
    margin: calc(-298px) 0 0 45px;
}

.big-polygon {
    right: 10%;
    margin-top: calc(-309px);
}

.get-consultation {
    z-index: 20;
    padding: 78px 56px 77px 57px;
    max-width: 643px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 65px 0 94px 55px;

    .get-consultation__inp {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        height: 50px;
        width: 530px;
        padding-left: 21px;
        border-radius: 8px;
        border: 1px solid #9FA7B0;

        &:focus {
            outline: none;
        }
    }
    .name-error, .email-error {
        color: #CF4747;
        font-size: 14px;
        line-height: 17px;
        margin: 0 0 0 5px;
        display: none;
    }
    .get-consultation__btn {
        width: 530px;
        height: 48px;
    }
    .success-notif {
        color: #30B01E;
        display: none;
    }
}

@media (max-width: 952px) {
    .big-polygon, .small-polygon, .medium-polygon {
        display: none;
    }

    .get-consultation {
        margin: 0;
    }
}

@media (max-width: 680px) {
    .get-consultation__inp, .get-consultation__btn {
        width: 100% !important;
    }
    .get-consultation__box {
        display: block !important;
    }
}

@media (max-width: 540px) {
    .get-consultation {
        padding: 50px 32px;

        .get-consultation__btn {
           padding: 0;
           font-size: 14px;
        }
    }
}

@media (max-width: 375px) {
        .get-consultation__btn {
           font-size: 12px !important;
        }
}