 .main-content {
    display: flex;
    align-items: center;
    margin: 88px -10px 35px;

    & > .row {
      align-items: flex-end;
      margin-bottom: -85px;
    }
    .main__pol-img {
      margin-bottom: -100px;
      width: 165px;
    }
    .main__top-line {
      margin-left: 50px;
    }
    .main__bottom-line {
      width: 606px;
      margin: -44px 0 0 244px;
    }
    .main__bottom-line2 {
      display: none;
    }
    .arrows {
      display: none;
    }
    .main__info {
      padding: 30px 0 0 40px;

      .main__info-title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        text-transform: uppercase;
      }
      .main__info-subtitle {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        text-transform: uppercase;
        padding: 0 0 18px;
      }
      .main__info-text {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 32px;
      }
      button {
        padding: 14px 32px;
      }
    }
  }

  .main__card-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 76px;
}
.main__card-img {
    width: 35px;
    height: 38px;
    display: flex;
    justify-content: flex-start;
}
.main__card-text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding-left: 60px;
  display: flex;
  justify-content: flex-start;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
    color: #5391dc;
    text-decoration: underline;
    transition: all 0.2s;
  }
}

@media (max-width: 1200px) {
    .main-content {
      display: flex;
      align-items: center;
      margin: 88px -10px 35px;

      & > .row {
        margin-bottom: -65px;
      }
      .main__pol-img {
        margin-bottom: -70px;
        width: 145px;
      }

      .main__bottom-line {
        width: 506px;
        margin: -45px 0 0 245px;
      }

      .main__info {
        padding-left: 35px;

        .main__info-title {
          font-size: 36px;
          line-height: 50px;
        }

        .main__info-subtitle {
          font-size: 27px;
          line-height: 35px;
        }

        .main__info-text {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
}

@media screen and (max-width: 991px) {
  .main-content {
    display: flex;
    align-items: center;
    margin: 38px -10px 25px;

    & > .row {
      align-items: flex-start;
      margin-bottom: -85px;
    }
    .main__pol-img {
      margin-bottom: -50px;
      width: 160px;
    }

    .main__top-line {
      margin-left: 0px;
    }

    .main__bottom-line {
      display: none;
    }
    .main__bottom-line2 {
      display: block;
      margin-left: 148px;
      margin-top: -20px;
      width: 348px;
    }

    .main__info {
      padding-top: 40px;
      .main__info-title {
        font-size: 28px;
        line-height: 34px;
      }

      .main__info-subtitle {
        font-size: 18px;
        line-height: 22px;
        padding: 5px 0;
      }
      .main__info-text {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 12px;
      }
    }
  }
}

.main-card {
  margin-top: 0px;
  padding: 0 20px;
  .main__card-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
  }
  .main__card-text {
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
    .main-content {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin: 38px -10px 25px;

      & > .row {
        display: none;
      }

      .main__info {
        text-align: center;
        padding: 22px 0 0;
        margin-top: 15px;
        .main__info-title {
          font-size: 28px;
          line-height: 34px;
        }
  
        .main__info-subtitle {
          font-size: 18px;
          line-height: 22px;
          padding: 5px 0;
        }
  
        .main__info-text {
          font-size: 14px;
          line-height: 17px;
          padding: 12px 15px 24px;
        }
      }
      .arrows {
        display: block;
        margin: 50px auto 62px;
      }
      .main__bottom-line2 {
        display: none;
      }
    }

    .main__card {
      margin-top: 0px;
      padding: 0 20px;
      .main__card-item {
        margin-bottom: 40px !important;
        .main__card-text {
          padding-left: 30px;
        }
      }
    }

    .main-cube {
      width: 265px;
    }
}

.services {
  padding: 0 20px;
  margin-bottom: 94px;

  &-line {
    margin: -68px 0 0 -4px;
  }
  &-octagon {
    margin-bottom: -44px;
  }

  &-title {
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    margin: -48px 0 0 48px;
    letter-spacing: 4px;
  }

  & > .row {
    margin: 80px -20px 0;
    justify-content: flex-end;

    & > div:nth-child(n + 3) {
      & > a > div {
        margin-top: -330px;
        min-height: 328px;
      }

      & > a > div > img {
        padding-bottom: 32px;
      }
    }

    & > div:first-child > a > div {
      padding: 165px 55px;

      & > img {
        padding-bottom: 32px;
      }
    }
    & > div:nth-child(2) > a > div {
      display: flex;
      align-items: center;
      padding: 42px 95px;
    }
  }
  &__item {
    margin: auto 0;
    text-align: center;
    background: #6ca7ef;
    border-radius: 20px;
    padding: 70px 75px;
    transition: all 0.2s;

    &-text {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #ffffff;
    }

    &:hover {
      background: #5391dc;
      transition: all 0.2s;
    }
  }
  &__hor {
    display: flex;
    align-items: center;
    padding: 42px 95px;
  }
}

@media screen and (max-width: 1200px){
  .main__bottom-line {
    // width: 606px;
    margin: -44px 0 0 100px;
  }
}

@media screen and (max-width: 1199px) {
  .search {
    width: 24%;
  }
  .services {
    & > .row {
      & > div:first-child > a > div {
        padding: 155px 55px;
      }
    }

    &__item {
      padding: 65px 55px;
    }
  }
}

@media screen and (max-width: 991px) {
  .start-up {
    width: 20% !important;
  }
  .services {
    margin-top: 30px;
    &-line {
      margin-left: -22px;
    }
    &-octagon {
      margin-bottom: -22px;
    }

    &-title {
      margin: -48px 0 0 20px;
    }

    & > .row {
      margin: 48px -20px 0;

      & > div:nth-child(n + 3) {
        & > a > div {
          margin-top: 15px;
          padding: 55px 50px;
          min-height: 249px;
        }

        & > a > div > img {
          padding-bottom: 12px;
        }
      }

      & > div:first-child > a > div {
        padding: 59px 50px;

        & > img {
          padding-bottom: 12px;
        }
      }

      & > div:nth-child(2) > a > div {
        padding: 53px 50px;
        flex-direction: column;
      }
    }
    &__item {
      margin: auto -3px auto -3px;
      padding: 53px 50px;

      &-image {
        width: 25%;
        padding-bottom: 18px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .start-up {
    width: 25% !important;
  }
  .services {
    padding: 0 30px;
    &-line {
      display: none;
    }
    &-octagon {
      display: none;
    }

    &-title {
      font-size: 30px;
      line-height: 37px;
      text-align: center;
      text-transform: uppercase;
      margin: 55px 0 -22px 0px;
    }

    & > .row {
      margin: 48px -20px 0;

      & > div:nth-child(n + 3) {
        & > a > div {
          margin-top: 15px;
          padding: 55px 50px;
          min-height: 249px;
        }

        & > a > div > img {
          padding-bottom: 12px;
        }
      }

      & > div:first-child > a > div {
        padding: 55px 50px;
        margin-bottom: 15px;

        & > img {
          padding-bottom: 12px;
        }
      }
    }
    &__item {
      &-image {
        height: 70px;
        padding-bottom: 18px;
      }
    }
  }
}
