.modal-page {
    display: none; 
    position: fixed; 
    z-index: 80; 
    padding: 3% 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 

    .modal-page__content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px 20px 130px 20px;
        border: 1px solid #888;
        max-width: 375px;

        .modal-page__close {
            margin-left: 5px;
            &:hover {
                cursor: pointer;
            }
        }
        .modal-title {
            font-size: 22px;
            line-height: 26px;
            font-family: "Lato" sans-serif;
            font-weight: 700;
            letter-spacing: 3%;
            margin: 73px 0 34px 0;
        }
        .modal-form {
            input {
                width: 292px;
                height: 50px;
                align-items: center;
                padding-left: 21px;
                border-radius: 8px;
                margin-top: 6px;
                border: 1px solid #282C37;
            
                &:focus {
                    outline: none;
                }
            }
            
            .textarea {
                padding: 14px 23px 0 21px;
                width: 292px;
                height: 191px;
                border-radius: 8px;
                margin-top: 6px;
                border: 1px solid #282C37;
            
                &:focus {
                    outline: none;
                }
            }
            .modal-send-btn {
                width: 292px;
                height: 48px;
                margin-bottom: 34px;
            }
                .success-notification {
                    color: #30B01E;
                    font-weight: 700;
                    margin-left: 46px;
                    max-width: 248px;
                    display: none;
                }
        }
            .warning-email-error, 
            .warning-name-error, .warning-textarea-error {
                color: #CF4747;
                font-size: 14px;
                line-height: 17px;
                margin-left: 28px;
                text-align: start;
                margin-bottom: 5px;
                height: 10px;
            }
            .warning-textarea-error {
                margin-bottom: 10px;
            }
    }
}


@media (max-width: 375px) {
    .modal-form {
        input, .textarea, .modal-send-btn  {
            width: 252px !important;
        }
    }
}

@media (max-width: 340px) {
    .warning-email-error, 
    .warning-name-error, .warning-textarea-error {
        margin-left: 10px !important;
    }
}