.services-page {
    margin-top: 65px;
    .pol-img {
        margin-left: calc(-30px);
        top: 165px;
    }
    .ser-cube {
        right: 0;
        top: 130px;
    }
    .service-cards{
        margin: 33px 0 69px 41px;

        .service-card {
            margin-bottom: 12px;
            .service-card__text {
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 17px;
                line-height: 20px;
                margin: 0 0 0 41px;
            }
        }
    }
    .sevices-text {
        margin: 36px 0 0 18px;
    }
    .service-text__link {
        color: #4B9AFB;
    }

    .service-list  {
        margin: 36px 0 95px 76px;
        .service-list__text {
            margin: 0 0 0 19px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 17px;
            line-height: 20px;
        }
    }
}

@media (max-width: 952px) {
    .services-page {
        margin-bottom: 85px;
    }
}

@media (max-width: 768px) {
    .ser-cube {
        display: none;
    }
}

@media (max-width: 540px) {
    .service-cards{
        margin: 33px 0 !important;
        .service-card__text {
            font-size: 15px !important;
            line-height: 25px !important;
            margin-left: 15px !important;
        }
    }

    .service-list  {
        margin: 36px 0 50px 40px !important;
        .service-list__text {
            margin: 0 0 0 15px !important;
            font-size: 14px !important;
        }
    }
}