.container 
    .col-12
        img.medium-polygon.position-absolute(src="../../assets/icons/polygon-small.svg", alt="")
        .d-flex.justify-content-center.position-relative
            .get-consultation.position-relative
                form.get-consultation__form
                    input.get-consultation__inp.form-name(type="text" placeholder='Ваше имя' name="name")
                    p.name-error поле обязательно*
                    input.mt-4.get-consultation__inp.form-email(type="email" placeholder='Email' name="email")
                    p.email-error поле обязательно*
                    button.mt-4.get-consultation__btn.uni_btn(type='submit') Получить консультацию
                    p.mt-2.success-notif.text.text-center Ваша заявка успешно отправлена!
        img.small-polygon.position-absolute(src="../../assets/icons/polygon-medium.svg", alt="")
        img.big-polygon.position-absolute(src="../../assets/icons/polygon-big.svg", alt="")
