.container 
    .content
        img.medium-polygon.position-absolute(src="../../assets/icons/polygon-small.svg", alt="")
        .d-flex.justify-content-center.position-relative
            .get-consultation.position-relative
                form
                    input.get-consultation__inp(type="text" placeholder='Ваше имя')
                    input.get-consultation__inp(type="email" placeholder='Email')
                    button.get-consultation__btn.uni_btn Получить консультацию
        img.small-polygon.position-absolute(src="../../assets/icons/polygon-medium.svg", alt="")
        img.big-polygon.position-absolute(src="../../assets/icons/polygon-big.svg", alt="")
