-
    const advantages = [
        {
            text: 'Как найти точки роста и определить цели?'
        },
        {
            text: 'Как увеличить прибыль, управляя ценами?'
        },
        {
            text: 'Как избежать проблем на старте нового бизнеса?'
        },
        {
            text: 'Как не попасть в "черную дыру" затрат на продвижение?'
        }
    ]