-
    const secondTrainPage = [
        {
            title: "Функция маркетинга как бизнес-технологии",
            plans: [
                {
                    text: "Рынок как динамическая система взаимодействия потребительской и конкурентной сред",
                    img: "true"
                },
                {
                    text: "Поиск точек роста в непрерывно меняющейся рыночной среде",
                    img: "true"
                },
                {
                    text: "Прибыль компании как производная от управления маркетингом",
                    img:  "true"
                },
                 {
                    text: "Концепция 4Р маркетинга как универсальная модель реализации рыночных возможностей",
                    img: "true"
                }
            ]
        },
        {
            title: "Практический инструментарий",
            plans: [
                {
                    text: "Количественные и качественные методы исследования рынка. Первичная информация как основа формирования эффективной стратегии. Отсутствие системности в получении и обработке информации – ключевые проблемы. Целеполагание на основе исследований.",
                    img: "img"
                },
                {
                    text: "Формирование товарной матрицы. Технология категорийного менеджмента. Кросс -конкурентный анализ, определение ролей продукта в товарной матрице. ",
                    img: "true"
                },
                {
                    text: "Ценообразование на основе рыночной ценности продукта. Выбор ценового позиционирования относительно конкурентов. Управление маржинальностью.",
                    img: "true"
                },
                {
                    text: "Управление коммуникациями с рынком. «Золотое» правило продвижения. Правила выбора каналов коммуникаций. Модели оценки эффективности затрат. Технологии интернет-маркетинга как эффективное дополнение к традиционным каналам продвижения. Основные ошибки в стратегии продвижения",
                    img: "true"
                },
                {
                    text: "Аналитика данных. Оцифрованная картина рынка как основа принятия эффективных решений. Типовые формы анализа основных показателей.",
                    img: 'true'
                }
            ]
        },
        {
            title: "Организация маркетинга в компании",
            plans: [
                {
                    text: "Принципиальная схема бизнес-процесса маркетинга. Наиболее узкие места. Критерии оценки эффективности",
                    img: "img"
                },
                {
                    text: "Маркетинг-план как дорожная карта развития. Структура. Этапы планирования. Контрольные точки выполнения. ",
                    img: "true"
                },
                {
                    text: "Взаимодействие служб маркетинга и продаж как основа успешной реализации планов. Устранение разрывов в понимании рыночной ситуации. Создание общего информационного поля.",
                    img: "true"
                }
            ]
        },
        {
            title: "Кейсы-примеры:",
            plans: [
                {
                    text: "«Догнать и перегнать лидера рынка»",
                    img: "img"
                },
                {
                    text: "«Увеличить прибыль на падающем рынке»",
                    img: "true"
                },
                {
                    text: "«Comeback бывшего лидера»",
                    img: "true"
                },
                {
                    text: "«Повышаем маржинальность, не выходя из кабинета»",
                    img: "true"
                }
            ]
        },
        {
            title: "Кейсы-примеры:",
            plans: [
                {
                    text: "С заказчиком предварительно согласуется наиболее актуальная проблема. В заключительной части тренинга в ходе совместного обсуждения определяются подходы к ее решению. Результатом является определение целей и плана действий по их достижению.",
                    img: ""
                }
            ]
        },
        {
            title: "Бонусы",
            plans: [
                {
                    text: "5 часов бесплатных консультаций в течение месяца после проведения тренинга.",
                    img: ""
                },
                {
                    text: " Набор шаблонов для анализа ключевых показателей.",
                    img: ""
                }
            ]
        },
        {
            title: "Преимущества бизнес-тренинга:",
            plans: [
                {
                    text: "Составлен на основе опыта решения конкретных задач",
                    img: "img"
                },
                {
                    text: "Только необходимый минимум теории, не рассматривается плохо применяемый на практике инструментарий",
                    img: "true"
                },
                {
                    text: "Акцент на реальных примерах с разбором ошибок",
                    img: "true"
                },
                {
                    text: "Направлен на практическую реализацию, начиная с завтрашнего дня",
                    img: "true"
                }
            ]
        },
        {
            title: "Форматы проведения:",
            plans: [
                {
                    text: "Групповой онлайн-формат, продолжительность 3 дня, по 4 часа в день",
                    img: "img"
                },
                {
                    text: "Индивидуальный онлайн-формат, продолжительность 2 дня, по 4 часа в день",
                    img: "true"
                },
                {
                    text: "групповой офлайн-формат, продолжительность 2 дня, по 8 часов в день",
                    img: "true"
                }
            ]
        }
    ]