-
    const serviceListData = [
        {
            text: 'Делаем прогноз развития рынка'
        },
        {
            text: 'Проводим сравнительный анализ стратегий конкурентов'
        },
        {
            text: 'Определяем точки роста'
        },
        {
            text: 'Ставим объективные цели'
        },
        {
            text: 'Разрабатываем план и модель контроля его выполнения'
        }
    ]

    const marketPlanList = [
        {
            text: "Интервью с сотрудниками компании и потребителями"
        },
        {
            text: 'Сбор информации о рынках из открытых источников'
        },
        {
            text: 'Анализ внешней информации: SWOT, BCG, сравнительный анализ по 4Р маркетинга'
        },
        {
            text: 'Анализ внутренней информации: динамика основных показателей с определением причин изменений'
        },
        {
            text: 'Совместное обсуждение целей и плана действий'
        },
    ]