-
    const trainingData = [
        {
            title: "Бизнес-тренинг «Маркетинг – технология роста»",
            text: "руководители компаний, маркетологи, продавцы",
            plans: [
                "Определение маркетинга как технологии роста",
                "Организация маркетинга как сквозного бизнес-процесса",
                "Получение практических навыков применения технологии маркетинга"
            ]
        },
        {
            title: "Тренинг с длинным названием в 3 текстовой строчки",
            text: "руководители компаний, маркетологи, продавцы",
            plans: [
                "Определение маркетинга как технологии роста",
                "Организация маркетинга как сквозного бизнес-процесса",
                "Получение практических навыков применения технологии маркетинга",
                "Получение практических навыков применения технологии маркетинга"
            ]
        },
        {
            title: "Короткое название",
            text: "руководители компаний, маркетологи, продавцы",
            plans: [
                "Определение маркетинга как технологии роста",
                "Организация маркетинга как сквозного бизнес-процесса",
                "Получение практических навыков применения технологии маркетинга"
            ]
        }
    ]