extends ../../main.pug
include ../mixin/mainList.pug

block content
    include ../data/main-page-data.pug
    section.main.container
        .main-content.row
            .row
                img.main__pol-img.col-2(src='../../assets/icons/bg-2polygons.svg')
                img.main__top-line.col-sd-10.col-md-7(src='../../assets/img/line.png')
            .main__info.col-md-6
                h1.main__info-title.mb-0 Создаем решения
                h2.main__info-subtitle.mb-0 Для роста бизнеса
                p.main__info-text.col-12.col-sd-11.col-md-11.mb-0 На основе анализа данных с алгоритмами реализации
                button#open-modal.uni_btn Обсудить проблему
                img.arrows.col(src='../../assets/img/arrows.png')   
            .col-md-1
            img.main-cube.col-9.col-md-5(src='../../assets/icons/cube.svg')
            .col-2 
            .col-7 
            img.main__bottom-line.col-md-7(src='../../assets/img/line2.png')   
            img.main__bottom-line2.col-ls-6(src='../../assets/icons/line2-mini.svg')   
            
        .main__card.row 
            each el in advantages
                +mainList(el)

    .services.container#services
        img.services-octagon(src='../../assets/img/Polygon.png')
        img.services-line.col-md-8(src='../../assets/img/line3.png')
        h1.services-title Услуги
        .row
            .col-md-6.col-lg-4
                a(href='./services.html')
                    .services__item
                        img.services__item-image(src='../../assets/icons/report.svg', alt="")
                        p.services__item-text Разрабатываем маркетинг-план: дорожная карта достижения целей
            .col-md-6.col-lg-8
                a(href='./services.html')
                    .services__item
                        img.services__item-image(src='../../assets/icons/lamp.svg' alt="")
                        p.services__item-text Повышаем эффективность продвижения: аудит существующей модели
            .col-md-6.col-lg-4
                a(href='./services.html')
                    .services__item
                        img.services__item-image.search(src='../../assets/icons/search.svg')
                        p.services__item-text Находим скрытую прибыль: анализ модели ценообразования
            .col-md-6.col-lg-4
                a(href='./services.html')
                    .services__item
                        img.services__item-image.start-up(src='../../assets/icons/Group.svg')
                        p.services__item-text Запускаем новый проект: start-up маркетинг

    .modal-page
        .modal-page__content
            img.modal-page__close(src='../../assets/icons/close.svg', alt='close')
            h3.modal-title.text-center.pt-5.text-uppercase Оставьте заявку
            .modal-page__item
                form.modal-form.text-center
                    .text-center
                        input.name(type="text" placeholder='Ваше имя', name='name')
                        p.warning-name-error
                    .text-center 
                        input.email(type='email', placeholder='Email', name='email')
                        p.warning-email-error
                    .text-center 
                        textarea.textarea(name="textarea",type='text', placeholder='Пожалуйста опишите вашу проблему',) 
                        p.warning-textarea-error
                    button.text-center.uni_btn.modal-send-btn.align-items-center(type="submit") Отправить
                    p.success-notification.text Ваша заявка успешно отправлена!