extends ../../main.pug
include ../mixin/marketPlanList.pug
include ../mixin/serviceList.pug

block content
    include ../data/service-page-data.pug
    .services-page
        .container
            nav.bread-crumb(aria-label="breadcrumb")
                ol.breadcrumb
                    li.breadcrumb-item
                        a.breadcrumb-link(href='./index.html') Главная
                    li.breadcrumb-item
                        a.breadcrumb-link(href="#") Услуги
                    li.breadcrumb-item.active.active_link(aria-current="page") Разрабатываем маркетинг-план: дорожная карта достижения целей
        .container
            .col-12
                img.pol-img.position-absolute(src="../../assets/img/Polygon.png", alt="")
                h2.title.position-relative Разрабатываем маркетинг-план: дорожная карта достижения целей
                img.ser-cube.position-absolute(src="../../assets/icons/cube-service-page.svg", alt="image")
                .service-cards 
                    each item in serviceListData
                        +serviceList(item)
                h3.subtitle Описание услуги
                .text.sevices-text
                    p Любая компания ставит себе цель непрерывного развития, которая отражается в итоговом плане действий по ее достижению. Основным измерением достижения цели является рост прибыли по результатам планируемого периода. Понимание траектории развития рынка, положения и стратегий его основных участников, позволяет правильно оценить свои возможности и поставить объективно достижимые цели. 
                    p.pt-2 Конкретный план действий по достижению целей разрабатывается на основе потребительских трендов и прогноза действий конкурентов.
                    p.pt-1 Математическая модель контроля позволяет на основе сравнения плановых и фактических измеряемых величин контролировать ситуацию и своевременно предпринимать необходимые действия.
                    p.pt-1 Основные этапы разработки 
                        span.service-text__link маркетинг-плана
                        span :
                .service-list 
                    each el in marketPlanList
                        +marketList(el)
        include ../includes/get-consultation